*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100%;
    
}

header{
    display: flex;
    justify-content:flex-end;
    width: 100vw;
    margin: 30px 0px;
}

.nav ul li{
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.iconSquare{
    font-size: 20px;
    color: gray;
}

.buttonStart{
    margin: 0px 8px;
    padding: 9px 23px;
    color: #FFF;
    background: #1A73e8;
    border: 1px solid transparent;
    border-radius: 4px;
}

a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

.nav{
    height: 50px;
}

.nav li{
    padding: 0px 10px;
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin:5vw;
}

.logo{
    width: 20vw;
    margin: 15px auto;
}

.inputQuery{
    margin: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    height: 40px;
    padding: 12px 20px;
    box-shadow: 3px 2px 10px -3px rgba(0,0,0,0.75);
    width: 600px;
    margin: 0 auto;
}

.googleButton{
    background: #F8F9FA;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0px 16px;
    text-align: center;
    font-family: arial,sans-serif;
    height: 36px;
    cursor:pointer;
    border-radius: 4px;
    border: 1px solid #F8F9FA;
    line-height: 27px;
    font-size: 14px;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
}

footer{
    position: absolute;
    bottom: -47vh;
    width: 100%;
}

.row{
    background: #F3F2F3;
    height: 5vh;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757A;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
}

.row ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.row a{
    font-family: Arial, Helvetica, sans-serif;
    color: #70757A;
    position: relative;
    bottom: 5px;
}